/*Adicionar estilos usados em mais de uma page aqui!! =)*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    /*Cores*/
    --rosa-escuro: #FF2768;
    --rosa-claro: #F14B61;
    --preto: #000000;
    --preto-claro: #151515;
    --offwhite: #F5F4F0;
    --branco: #fff;

    /*Fontes de letra*/
    --fonte-padrao: 'Poppins', sans-serif;
}

body{
    font-family: var(--fonte-padrao);
    background-color: var(--offwhite);
}

