/*Adicionar estilos usados em mais de uma page aqui!! =)*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    /*Cores*/
    --rosa-escuro: #FF2768;
    --rosa-claro: #F14B61;
    --preto: #000000;
    --preto-claro: #151515;
    --offwhite: #F5F4F0;
    --branco: #fff;

    /*Fontes de letra*/
    --fonte-padrao: 'Poppins', sans-serif;
}

body{
    font-family: var(--fonte-padrao);
    background-color: var(--offwhite);
}

.my-nav-index{
    background-image: linear-gradient(to bottom, rgba(21,21,21,1), rgba(21,21,21,0));
}

.my-nav-index .nav-item .active{
    color: var(--rosa-escuro);
}

.my-nav-index .nav-link, .my-nav-index .navbar-brand, .my-nav-index button{
    color: var(--branco);
}

.my-nav-index .nav-link:hover, .my-nav-index .nav-link:focus{
    color: var(--rosa-escuro);
}

.my-nav-index .navbar-nav .nav-link.active, .my-nav-index .navbar-nav .nav-link.show{
    color: var(--rosa-escuro);
}

.my-nav-index .dropdown-menu{
    background-color: var(--preto-claro);
    border-color: var(--rosa-escuro);
}

.my-nav-index .dropdown-item{
    color: var(--branco);
}

.my-nav-index .dropdown-item:hover{
    background-color: var(--preto-claro);
    color: var(--rosa-escuro);
}
